{% extends "layout.html" %} {% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-dark" style="display:flex;align-content: center;justify-content: space-between;">
    <div class="form-group" style="color:white">
        ADMIN PANEL
    </div>
    <div class="form-group" style="left:80%">
        <a class="btn btn-outline-info" href="{{ url_for('adminLogout') }}">Log out</a><br>
    </div>
</nav>
<br>
<div class="content-section">
    <div class="form-group" style="display: flex;justify-content: space-evenly;">
        <div class="form-group">
            <a class="btn btn-outline-info" href="{{ url_for('getAllData') }}">View all data</a><br>
        </div>
        <div class="form-group">
            <a class="btn btn-outline-info" href="{{ url_for('showAllPins') }}">View all pins</a><br>
        </div>
        <div class="form-group">
            <a class="btn btn-outline-info" href="{{ url_for('handleAddUser') }}">Add new user</a><br>
        </div>
    </div>
</div>
{% endblock content %}